.game{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    font-style: italic;
    color: brown;
}
.game img{
    max-width: 50%;
    width: 100px;
    height: auto;
    position: relative;
    align-items: center;
    margin-left: 270px;
    margin-top: 40px;
}.game img{
    max-width: 50%;
    width: 100px;
    height: auto;
    position: relative;
    align-items: center;
    margin-left: 270px;
    margin-top: 40px;
}
.paragrapgh{
    color:chocolate;
    margin-bottom: 20px;
}
